* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*body*/

body {
    background-color: #d9dcd6;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}


/*header*/

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}

/*Top-Navigation - class name: "navigation"*/

.navigation {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.navigation ul {
    list-style-type: none;
}

.navigation ul li {
    display: inline-block;
    margin-left: 25px;
}

/*a hover was added to help with navigation*/

.navigation ul li:hover{
    text-decoration: underline;
}

/*end of Top-Navigation*/


/*Figure*/

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*end of Figure*/


/*Section class="content" */

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*Articles*/ 
/*class="article" - "Search Engine Optimization", "Online Reputation Management", "Social Media Marketing"*/

.article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.article img {
    max-height: 200px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.article h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*end of Articles*/

/*Aside*/

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*Div class="benefits-content" - "Lead Generation", "Brand Awareness", "Cost Management" */

.benefits-content {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefits-content h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefits-content img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


/*footer*/

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}

/*@media - resizing in small screens: 1034px*/


@media screen and (max-width:1034px){ 

    /*header*/
    header{
        position:relative;
    }

    /*navigation*/
    
    .navigation {
        position:relative;
        float:none;       
    }

    .navigation ul li {
       position:relative;
    
    }

    /*figure*/
    .hero {
        position:relative;
        height: 500px;
               
    }
    
    /*Section*/
    .content{
        display:block;
        position: relative;
        width: auto;
        margin-right: 20px;  
    }

    /*Articles*/

    .article{
        position:relative;
        padding:40px;
        
    }
    
    .article img {
        position: relative;
        
    }

    /*Benefits - bottom*/

    .benefits {
        display:inline-flex;
        position: relative;
        float:none;
        width: 100%; 
    }
    
    .benefits-content{
        margin-left: 32px;
        margin-right: 32px;
              
    }

    /*Footer*/

    .footer {
        position:relative;
    }
}

/*@media - resizing in small screens: 835px*/

@media screen and (max-width:835px){

    /*Image*/
    
    .hero {
        height: 400px;          
    }

    /*Navigation*/

    .navigation ul li {
        display:block
     }

    /*Article*/
    
    .article {
        padding: 20px;              
    }

    .article h2{
        font-size: 25px;
    }

    /*Benefits - bottom */

    .benefits-content{
        margin-left: 15px;
        margin-right: 15px;           
    }
}    

/*@media - resizing in small screens: 576px*/

@media screen and (max-width:576px){
     
    /*figure*/

    .hero {
        height: 350px;    
    }

    .content{
        margin-right: 10px;
        margin-left: 10px;    
    }

    /*Article*/

    .article {
        padding: 10px;                
    }
    
    .article h2{
        font-size: 20px;
    }
    .article img {
        max-height: auto;          
    }

    /*Benefits - bottom*/

    .benefits {
        display: block;
        position: relative;
        text-align: center;
             
    }

}

/*@media - resizing in small screens: 500px*/

@media screen and (max-width:500px){
    
    /*figure*/
    
    .hero {
        height: 300px;    
    }

    /*Section*/

    .content{
        margin-right: 5px;
        margin-left: 5px;    
    }

    /*Article*/

    .article img {
        max-height: 50%;          
    }
}

/*@media - resizing in small screens: 400px*/

@media screen and (max-width:400px){

    /*figure*/
   
    .hero {
        height: 250px;    
    }

    /*Article*/

    .article h2 {
        margin-bottom:10px;
    }

    .article img {
        max-height: 45%;          
    }
}

/*@media - resizing in small screens: 375px*/
@media screen and (max-width:375px){

    /*Article Image*/
    
    .article img {
        max-height: 40%;          
    }
}

/*@media - resizing in small screens: 355px*/
@media screen and (max-width:355px){

    /*Article Image*/
    
    .article img {
        max-height: 30%;          
    }
}
